html, body, #flex-layout{
	min-height: 100vh;
}

nav{
	min-height: 100vh;
}


#link-menu{
	flex-grow: 1;
	border-top: 2px solid #032c6cd1;
}

#div-fixed{
	position: sticky;
	top: 0;
}

#nav-column {
	min-width: 250px;
	max-width: 250px;
	min-height: 100%;
	border-right: 1px solid rgba(0,0,0,.1);
}

header{
	background: #032c6c;
}

.badge-light i, span{
	color: #032c6c!important;
}

.bg-blue{
	background-color: #032c6c !important;
	color: #ffff!important;
}

nav h2{

	color: #032c6c;
	font-family: Roboto;

}

div#link-menu a, div#link-menu h4{
	display: block;
	padding: 5px;
	font-size: initial;
	color: #032c6c;
	font-family: Roboto;
}

nav small{

	color: #032c6c;
	font-weight: bolder;
}

nav{
	background-color: #f8fafc;
}

.nav-link, .navbar-brand{

	color: #fff !important;
}

.fill { 
    height: 100%;
}

#title{
	color: #032c6c;
	font-family: Raleway;
}

.card-hover:hover {
	opacity: 0.5;
}

#dot-shop{
  height: 18px;
  width: 18px;
  padding: 1px;
  margin-top: -10px;
  margin-left: -10px;
  background-color: #e3342f !important;
  border-radius: 50%;
  display: none;
}

.little-small{
	font-size: 70%;
}

